.contactDiv {
  /* border: 1px solid #eeeeee;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.2); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0%;
  /* position: relative; */
  /* margin-left: 400px;
  margin-right: 400px; */
  /* margin-bottom: var(--mb-2); */
  /* height: 4rem; */
}
.contactTitle {
  text-align: center;
  /* margin-top: 50px; */
  font-size: 30px;
  margin-left: 15px;
  font-size: 40px;
  padding-top: 10px;
}
.button {
  margin-top: 30px;
  margin-bottom: 25px;
  max-width: 250px;
  width: 100%;
  align-self: center;
  justify-content: center;
  background-color: rgb(4, 4, 4);
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  /* color: rgb(254, 250, 250); */
}

.button:hover,
.btn:focus,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 8, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contactForm {
  display: flex;
  width: 60%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contactFormInput {
  /* width: 100%;
  height: 100%; */
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
}

.contactFormTag {
  font-size: 17px;
  text-align: start;
  margin-top: 10px;
  margin-bottom: 10px;
}
