.App {
  background: #fcfcfc;
  color: #343634;
  font-family: Roboto;
}

.avatar {
  border-radius: 55%;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.03);
  border: 1px solid #eeeeee;
}
.navBar {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.03);
  color: #343634;
  max-width: 500%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  font-size: large;
  padding-right: 5%;
}
.nav--logo {
  width: 80px;
  height: 60px;
  padding-bottom: 10px;
  /* padding-left: 30px; */
  display: flex;
  justify-content: flex-start;
}

.nav--logo:hover,
.btn:focus,
.btn:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.navLinks {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 240px;
  position: relative;
  padding: 20px 5;
  color: black;
}

/* .navLinks:visited {
  text-decoration: none;
} */

.navListItem {
  text-decoration: none;
  color: black;
}
.navListItem:hover {
  border-bottom: #343634 solid 2px;
  transition: all 250ms ease-in;
  text-decoration: none;
}
